@charset "UTF-8";
.body{
	width: 80%;
	color: #777;
	margin: auto;
	overflow: hidden;	
	padding-bottom: 50px;
}
.sub_header {
	text-align : center;
	margin: 70px 0px 50px;	
}
.content {
	text-align: center;
}
.admin_write{
	text-align : right;
	font-size: 13px;
}

.title {
	border-top : 1px solid #aaa;
	border-bottom : 1px solid #aaa;
	display: flex;
	padding: 8px 0px;
};
.title > div {
	float: left;
}
.title_content{
	width: 80%;
}
.title_no, .title_name{
	width: 10%;
}
.list {
	border-bottom : 1px solid #ccc;
	display: flex;
	padding: 10px 0px;
	color: #777;
};
.list > div {
	padding: 10px 0px;
	float: left;
	line-height: 100px;
}
.list_content{
	width: 80%;
}
.list_no, .list_date{
	width: 10%;
}
.list:hover {
	background-color: #fafafa;
}

