<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Ex0.0.1</display-name>
  <context-param>
    <param-name>uploadDir</param-name>
    <param-value>upload</param-value>
  </context-param>
  <servlet>
  	<servlet-name>Controller</servlet-name>
  	<servlet-class>com.igt.controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Controller</servlet-name>
  	<url-pattern>*.mvc</url-pattern>
  </servlet-mapping>
<!--   <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/index.jsp?body=errors/errorpage.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/index.jsp?body=errors/errorpage.jsp</location>
  </error-page> -->
</web-app>